{{define "layout" -}}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:800&amp;text=InterstlaB -fidcogfm" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Saira:200,300,400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,500,600,700,800" rel="stylesheet">
  <title>
    BxB Astrophysics
  </title>
  <style critical>
  {{- renderLESS "./src/styles/src/reset.css" -}}
  {{- renderLESS "./src/styles/src/functional.css" -}}
  {{- renderLESS "./src/styles/src/critical.less" -}}
  </style>
  <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
  <div id="app">
    <header class="fix flex">
      <nav class="full flex .noselect">
        <div class="mobile-nav" :class="{open: ui.mobileNav}">
          <div class="flex center mobile-nav-reveal"
          @click="ui.mobileNav = !ui.mobileNav">
            <svg class="icon chevron-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <polyline points="6 9 12 15 18 9"/>
            </svg>
          </div>
          <nav>
            <ul class="flex col">
              <li @click="handleMobileNavDirect">
                <router-link to="/explore">Explore</router-link>
              </li>
              <li @click="handleMobileNavDirect">
                <router-link to="/workplan">Work Plan</router-link>
              </li>
              <li @click="handleMobileNavDirect">
                <router-link to="/team">Team</router-link>
              </li>
              <li @click="handleMobileNavDirect">
                <router-link to="/publications">Publications</router-link>
              </li>
              <li @click="handleMobileNavDirect">
                <router-link to="/events">Events</router-link>
              </li>
            </ul>
          </nav>
        </div>
        <div class="bxb-project li"  @click="handleMobileNavDirect">
          <router-link>BxB Project</router-link>
        </div>
        <ul class="full flex">
          <li>
            <router-link to="/explore">Explore</router-link>
          </li>
          <li>
            <router-link to="/workplan">Work Plan</router-link>
          </li>
          <li>
            <router-link to="/team">Team</router-link>
          </li>
          <li>
            <router-link to="/publications">Publications</router-link>
          </li>
          <li>
            <router-link to="/events">Events</router-link>
          </li>
        </ul>
        <div class="login li">
          <a href="http://google.com" class="login flex center">
            <div class="login">
              login
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="login icon" viewBox="0 0 20 20">
              <path class="cls-1"
              d="M8.1,19.82a10,10,0,0,1-4-17.89A1.33,1.33,0,0,1,6,2.42H6a1.35,1.35,0,0,1-.41,1.7,7.33,7.33,0,1,0,5.71-1.33V9.67A1.33,1.33,0,0,1,10,11h0A1.33,1.33,0,0,1,8.67,9.67V1.07A1.07,1.07,0,0,1,9.74,0h0c4.77,0,9.48,3.82,10.16,8.54A10,10,0,0,1,8.1,19.82Z"
              />
            </svg>
          </a>
        </div>
      </nav>
    </header>
    <div class="router-container">
      <router-view class="router-view"></router-view>
    </div>
  </div>



<script>


{{template "error-404" .}}
{{template "landing-page" .}}
{{template "explore-page" . }}
{{template "publication-page" . }}
{{template "team-page" .}}
{{template "workplan-page" .}}
{{template "events-page" .}}
{{template "router-link" .}}
{{template "router-view" .}}

{{template "img-credits" .}}
{{template "publication-reference" .}}
{{template "interstellar-matter" .}}


Vue.prototype.$xhr = {
  get: function(url, callback, errorcallback){
    const req = new XMLHttpRequest()
    req.onreadystatechange = ()=>{
      if (req.readyState === 4) {
        if (req.status === 200) {
          callback(req)
          // console.log("succes", req.responseText)
        } else {
          if (errorcallback){
            // errorcallback(xhr).bind(this)
          } else {
            console.log("xhr error", req.status, req.statusText)
          }
        }
      }
    }
    req.open('GET', url, true)
    req.send(null)
  }
}


const App = {
  router: {
    now: '',
    before: '',
    routes: {
      '/': { component: 'landing-page'},
      '/publications': { component: 'publication-page'},
      '/team': { component: 'team-page'},
      '/workplan': { component: 'workplan-page'},
      '/events': { component: 'events-page'},
      '/explore': { component: 'explore-page'},
      '/explore/interstellar-matter': { component: 'interstellar-matter'},

      '/404': { component: 'error-404'},
    },
  },
  vue: null
}



App.vue = new Vue({
  el: '#app',
  data: {
    ui: {
      mobileNav: false,
    }
  },
  methods: {
    handleMobileNavDirect: function(){
      console.log("yahe", this.ui.mobileNav)
      this.ui.mobileNav = false
      console.log(this.ui.mobileNav)
    }
  }
})

</script>
</body>
</html>
{{end}}
