h1 {
  font-size: 42px;
}
h1.title {
  font-weight: 300;
  font-family: 'Saira SemiCondensed';
  letter-spacing: 0.2px;
  line-height: 1.2;
  margin-bottom: 74px;
}
h2 {
  font-size: 33px;
  margin: 62px 0 32px;
}
h3 {
  font-size: 27px;
  font-weight: 700;
  margin: 42px 0 18px;
}
h4 {
  font-size: 23px;
  font-weight: 700;
  margin: 32px 0 8px;
}
h5 {
  font-size: 19px;
  font-weight: 500;
  margin: 26px 0 8px;
}
h6 {
  font-weight: 600;
  font-size: 16px;
  margin: 22px 0 8px;
}
.publication-page h2,
.publication-page h3 {
  font-weight: 200;
}
.publication-page h4 {
  font-weight: 500;
}
h2,
h3 {
  font-weight: 200;
}
h4 {
  font-weight: 500;
}

.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.pseudo {
  position: relative;
}
.pseudo:before,
.pseudo:after {
  position: absolute;
  content: "";
}
a,
p,
li,
.li {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
}
a {
  border-bottom: 1px solid transparent;
  transition: border-color 0.17s;
}
a:hover {
  border-color: #ff7830;
}
strong {
  color: #5b9aff;
}
p {
  margin: 22px 0 36px;
  /*p+p*/
}
@media screen and (min-width: 500px) {
  p {
    text-align: justify;
  }
}
p + p {
  text-indent: 0.4em;
}
blockquote {
  width: 90%;
  margin: 24px auto 40px;
  position: relative;
}
blockquote:before,
blockquote:after {
  position: absolute;
  content: "";
}
blockquote:before {
  top: 0;
  bottom: 0;
  left: -4%;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}
blockquote p {
  margin: 0 !important;
}
blockquote p + p {
  margin-top: 12px;
}
.landing-page ul.workplan {
  font-family: Saira;
}
.landing-page ul.workplan li {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 12px;
  text-align: center;
}
.landing-page ul.workplan a {
  color: #ff7830;
  line-height: 0.7;
  display: inline;
}
ul.emphase {
  width: calc(100% - 12em);
  margin: 24px;
  position: relative;
}
@media screen and (max-width: 500px) {
  ul.emphase {
    width: calc(100% - 4em);
  }
}
ul.emphase:before,
ul.emphase:after {
  position: absolute;
  content: "";
}
ul.emphase::before {
  top: 5px;
  bottom: 5px;
  width: 3px;
  border-radius: 2px;
  background-color: #ff7830;
  opacity: 0.7;
}
ul.emphase::before {
  left: -1.4em;
}
ul.emphase::after {
  right: -1.4em;
}
.landing-page ul.emphase {
  margin: 74px auto;
  max-width: 600px;
}
.landing-page ul.emphase::before,
.landing-page ul.emphase::after {
  top: 10px;
  bottom: 7px;
  width: 3px;
  border-radius: 2px;
  background-color: #ff7830;
  opacity: 0.7;
}

.publication-reference {
  margin: 24px 0 27px;
}
.publication-reference ul.authors li {
  display: inline;
}
.publication-reference ul.authors li + li {
  margin-left: 2px;
}
.publication-reference .title {
  color: #ff7830;
  font-weight: 500;
  letter-spacing: 0.8px;
}
.publication-reference .journal {
  font-size: 0.7em;
}
.publication-reference .authors {
  font-family: Saira;
  font-size: 0.9em;
  font-weight: 400;
}


a.login svg {
  transition: transform 0.27s cubic-bezier(0.26, 2, 0.6, 0.7);
}
a.login:hover svg {
  transform: rotate(1turn);
  transition-timing-function: ease-in-out;
}

.interstellar-matter section {
  display: flex;
  flex-direction: column;
  margin-bottom: 182px;
}
.interstellar-matter .img-credits,
.interstellar-matter section,
.interstellar-matter img {
  width: 100%;
}
@media screen and (min-width: 1100px) {
  .interstellar-matter section {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
  .interstellar-matter section:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
  .interstellar-matter .img-credits {
    width: 45%;
  }
  .interstellar-matter .caption {
    width: 38ch;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
