{{define "layout" -}}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:800&amp;text=InterstlaB -fidcogfm" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Saira:200,400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,500,600,700,800" rel="stylesheet">
  <link href="/static/css/reset.css" rel="stylesheet">
  <link href="/static/css/functionnal.css" rel="stylesheet">
  <title>
    BxB Astrophysics
  </title>
  <style>
  *,*:after,*:before{margin:0; padding: 0;box-sizing: border-box;}
  body{
    width: 100vw; height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg[logo]{
    opacity: .2;
    width: 400px;
    transform: translateX(-20px)
  }
  </style>
</head>
<body>

</body>
</html>
{{end}}
